#activity-form {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activity-form .form-content {
    margin-top: 10vh;
}

#activity-form .form-el {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 30px; 
    margin-bottom: 30px;
    width:110%;
}


#activity-form label {
    font-size: 1.4rem;
    font-weight: bold;
}

#activity-form input {
    margin-right: 10px;
}

#activity-form .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
}

#activity-form .description p {
    margin: 1px; 
    line-height: 1.2rem; 
}
