form {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 20px;
}

.form-content {
    margin-top: 10vh;
    align-self: flex-start;
    
}

.form-el {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    margin-bottom: 20px;
}

.form-height {
    display: flex;
    justify-content: space-between;
}

 .form-height input {
    width: 40px;

 }

 .input-el {
    width: 125px;
 }
