#information-form {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 20px;
}

#information-form .form-content {
    margin-top: 10vh;
    align-self: flex-start;
}

#information-form .form-el {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    margin-bottom: 20px;
}

#information-form .form-height {
    display: flex;
    justify-content: space-between;
}

#information-form .form-height input {
    width: 40px;
}

#information-form .input-el {
    width: 125px;
}

#information-form .form-sex {
    display: flex;
    gap: 10px;
}

#information-form .form-sex label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#information-form button {
    padding: 6px 12px; 
    font-size: 13px; 
    cursor: pointer;
}
