#recipe {
    padding: 10px;;
    display: flex;
    background-color: rgb(94, 149, 163);
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    color: black;
}

#recipe .recipe-details {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

#recipe .recipe-details img {
    width: 150px;
    height: 120px;
    border-radius: 2px;
}