@import url('https://fonts.googleapis.com/css?family=Inter');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../bg-gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif; 
  color: whitesmoke;
}